.container{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Establecer un ancho máximo para el div */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
